<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Webshop</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="authority == 'user'" class="nav-link waves-light" mdbWavesEffect routerLink="/neworder" >Order</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="authority == 'user'" class="nav-link waves-light" mdbWavesEffect routerLink="/myorder" >My Orders</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="authority == 'admin'" class="nav-link waves-light" mdbWavesEffect routerLink="/allorder" >Orders</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a *ngIf="authority == 'admin'" class="nav-link waves-light" mdbWavesEffect routerLink="/users" >Users</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <div mdbDropdownToggle>
              <mdb-icon fas icon="user" ></mdb-icon>
              <a *ngIf="authority!= null" class="nav-item"> {{username}} </a>
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a *ngIf="authority!= null" class="dropdown-item"  (click)="Logout()">Sign out</a>
              <a *ngIf="authority == null"  class="dropdown-item" routerLink="/login" > Sign in</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
