<app-top-bar></app-top-bar>
<!-- Editable table -->
<div  class="container pt-5">
  <div id="table" class="table-editable">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">$$$</th>
        <th class="text-center">Status</th>
        <th class="text-center">Items</th>
      </tr>
      <tr *ngFor="let order of orders; let id = index">

        <td>
          <span >{{order.date}}</span>
        </td>
        <td>
          <span >{{order.sum}}</span>
        </td>
        <td>
          <span >{{order.status}}</span>
        </td>
        <td>
          <button type="button" mdbBtn color="amber" rounded="true" size="sm" class="my-0" (click)="activeRow(order.id)">Show</button>
          <span *ngIf="showItems == order.id" class="table-remove">
              <ul *ngFor="let item of order.items" class="list-group list-group-flush">
                <li class="list-group-item"> {{ item.name }}</li>
              </ul>
            </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Editable table -->

