<app-top-bar></app-top-bar>

<div  class="container pt-5">
  <div id="table" class="table-editable">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Username</th>
        <th class="text-center">Email</th>
      </tr>
      <tr *ngFor="let user of users; let id = index">

        <td>
          <span >{{user.name}}</span>
        </td>
        <td>
          <span >{{user.username}}</span>
        </td>
        <td>
          <span >{{user.email}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
